[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.validation-messages {
    transition:1s linear all;
}
.validation-messages.ng-active {

}
.validation-messages.ng-inactive {

}

.ng-invalid {
    border-color: red;
    outline-color: red;
}

.ng-valid {
    border-color: green;
    outline-color: green;
}

header h1 {
    background-color: #E7E7E7;
    padding: 10px;
    border-radius: 5px;
}

#user-info {
    margin-bottom: 0;
}

#navigation-items {
    list-style-type: none;
    padding: 0;
    font-size: 1.8em;
    word-wrap: break-word;
}
#navigation-items li:not(:last-child) {
    margin-bottom: 10px;
}